extends layout

block content
  link(rel='stylesheet' href='deps/plyr/2.0.18/plyr.css')

  video(poster=video_thumbnail)
    source(src=video_url type=video_type)

  div(class='video-title')= video_title

  script(src='deps/plyr/2.0.18/plyr.js')
  script(src='javascript/plyr-setup.js')
