extends layout

block content
  //- Includes
  include mixins/watchlist

  div(class='section')
    div(class='container')
      div(class='neg-margin')
        div(class='title is-size-4') Featured

        //- List of 'watch next' videos
        +watchlist(videolinks)
