doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block headers
      script(src='/dist/global.bundle.js')

  body
    //- Includes
    include mixins/navbar
    +navbar()

    block content
